<div class="cta-wrapper">
  <a href="mailto:{{ site.author.email }}">{{ site.author.cta_text }}</a>
  <a href="https://twitter.com/{{ site.author.twitter }}">X</a>
  <a href="https://instagram.com/{{ site.author.instagram }}">Instagram</a>
  <a href="https://www.linkedin.com/company/mathscapes-research/">LinkedIn</a>
  <a href="https://github.com/{{ site.author.github }}">GitHub</a>
</div>
