<h1>
  <a href="/">
    <img src="/assets/ms_light.png" alt="{{ site.author.name }}" class="site-logo site-logo--light">
    <img src="/assets/ms_dark.png" alt="{{ site.author.name }}" class="site-logo site-logo--dark">
  </a>
</h1>
<p>{{ site.author.intro }}</p>
